body
{
    background-color:#C0907E;
}
.dark-mode {
  background-color: #532626;
  color: #C09393;
}

nav.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
div.paragraph
{
    width: 45em;
}
div.about
{
    width: 15em;
    float: right;
    margin: 3em;
}
a.na 
{
    float: left;   
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.na:hover 
{
    background-color: rgb(71, 71, 71);
    color:rgb(130, 211, 211);
}

div.calendar
{
    align-items: center;
    border: rgb(0, 0, 0);
    width: 15em;
}

label {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    padding-top: 1.5em;
    text-align:center;
}

input, select {
    display: inline-block;
    width: 10em;
}

input{
    margin-top: 1em;
    margin-bottom: 1em;
    color: blue;
    font-language-override: inherit;
}
footer {
    margin-left: auto;
    margin-right: auto;
    align: center;
}
